<!DOCTYPE html>
<!--
  The consent.html displays the text of your IRB-approved
  consent form.  Even if you are not required to provide
  a consent form, it is helpful to use this form to
  describe what people can do if an error comes up, etc...

-->
<html>
    <head>
        <meta charset="utf-8" />
        <title>Idea Generation Experiment - Informed Consent</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
        <script type="text/javascript">
            function onexit() {
              self.close(); // no harm, no foul here
            }
        </script>
    </head>
    <body>
        <div id="container-consent">
            <div id="consent">
                <h1>We need your consent to proceed</h1>
                <hr />
                <div class="legal well">
          <p>You have been asked to participate in a research study reviewed and approved by the Washington and Lee University Institutional Review Board for Research with Human Subjects.
            The purpose of this study is to examine how you go about generating and evaluating ideas.</p>
        <p>The purpose of this study, in terms of your participation, as well as any expected risks and benefits, must be fully explained to you before you proceed.</p>
        <p>You will be asked to generate ideas in accordance with instructions given, evaluate ideas according to instruction, take surveys,
          and you will be asked questions to ensure you understand the instructions.  There is minimal risk in this study,
          but you may find the tasks repetitive or frustrating at times.</p>
        <p>Participation in research is entirely voluntary. You may refuse to participate or may withdraw from participation at any time without penalty.
          Also, you may skip any question you would prefer not to answer.</p>
        <p>The investigator may withdraw you from participation at his/her professional discretion.</p>
        <p>Any information derived from this research project which personally identifies you will not be voluntarily released or disclosed without your separate consent,
          except as specifically required by law.</p>
        <p>If at any time you have questions regarding this research or your participation in it, you should contact the investigator,
          (<a href="mailto:affectcognitionlab@wlu.edu?Subject=Consent%20Question" target="_top">affectcognitionlabATwlu.edu</a>)
          or his/her assistants who must answer your questions.</p>
        <p>If, at any time, you have questions regarding the conduct of this research, or if you wish to discuss you rights as a research participant,
          you may contact the chair of the Institutional Review Board for Research with Human Subjects, at <a href="mailto:bprice@wlu.edu?Subject=IRB%20Question" target="_top">bpriceATwlu.edu</a>.</p>


                    <button type="button" class="btn btn-default btn-sm" onClick="window.print();">
                    <span class="glyphicon glyphicon-print"></span> Print a copy of this
                    </button>
                </div>

                <hr />
                <h4>I confirm that I am 18 years or older and consent to participate in this study.</h4>
                <br />

                <center>
                    <button type="button" class="btn btn-primary btn-lg" onClick="window.location='/exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}'">
                    <span class="glyphicon glyphicon-ok"></span> I agree
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger btn-lg" onClick="onexit()">
                    <span class="glyphicon glyphicon-ban-circle"></span> No thanks, I do not want to do this HIT
                    </button>
                </center>

            </div>
        </div>
    </body>
</html>
