<!-- this is modeled after Jess Hamrick's experiment. Each one of these Divs (except the last)
contains instructions for each phase of the task, and are called to show by the Instructions() function
at the very bottom is the HTML that is operated on for the actual tasks -->
<div class="inside-instruct" id="instruct-practice-1">
    <h1>General Instructions</h1>
    <p>In this experiment, your task will be to read a word printed on the screen and respond by typing aditional words.
      You will do so with your computer keyboard. It is important that you are sitting in your normal typing position
      and that you type as you normally would as if you were taking notes or writing in a Word document.</p>

    <p>Take the opportunity to ready yourself now for typing. You will practice typing before any
      of the real tasks start.</p>

      <p>There will be 9 trials totalwith each trial lasting 2 minutes except the first trial,
        which is a practice trial and will last 30 seconds.
        You will be allowed to take a break between every trial, but remember,
        you have 60 minutes to complete this HIT.
        The tasks themselves will take no more than 18 minutes, including the short questionnaire at the end. </p>

        <p> Here is the flow of the experiment:</p>

    <ol>
      <li>1 practice trial</li>
      <li>8 experiment trials</li>
      <li>1 short demographic questionnaire</li>
    </ol>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>
  </div>

<!-- page 2 -->
<div class="inside-instruct" id="instruct-practice-2">
      <h2>Please answer the following questions to proceed:</h2>
      <!-- beginning of a question -->
      <div class="row question">
          <div class="col-md-8">
              What is this experiment about?
          </div>
          <div class="col-md-4">
              <select id="About" name="About">
                <option value="" selected>--Make a Selection--</option>
                  <option value="A">Creativity</option>
                  <option value="B">Marbles</option>
                  <option value="C">Jelly beans</option>
              </select>
          </div>
      </div>
      <!-- end of a question -->

      <!-- beginning of a question -->
      <div class="row question">
          <div class="col-md-8">
              How many prompts will there be?
          </div>
          <div class="col-md-4">
              <select id="promptcount" name="promptcount">
                <option value="" selected>--Make a Selection--</option>
                <option value="9">9</option>
                <option value="8">8</option>
                <option value="7">7</option>
                <option value="6">6</option>
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>

              </select>
          </div>
      </div>
      <!-- end of a question -->
     <div class="instructionsnav">
         <div class="row">
             <div class="col-xs-2">
                 <!-- no back button at all -->
             </div>
             <div class="col-xs-8">
             </div>
             <div class="col-xs-2">
                 <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                 Next <span class="glyphicon glyphicon-arrow-right"></span>
                 </button>
             </div>
         </div>
     </div>
</div>

 <!-- page 3 -->
<div class="inside-instruct" id="instruct-practice-3">
  <h2>Get ready for the Practice Run</h2>
   <p>Just so you don't forget, we'll go through the instructions one more time.</p>

     <p>There will be 9 trials total, with each trial lasting 2 minutes except the first trial,
       which is a practice trial and will last 30 seconds.
       You will be allowed to take a break between every trial, but remember,
       you have 40 minutes to complete this HIT.
       The tasks themselves will take no more than 18 minutes, including the short questionnaire at the end. </p>

       <p> Here is the flow of the experiment:</p>

   <ol>
     <li>1 practice trial</li>
     <li>8 experiment trials</li>
     <li>1 short demographic questionnaire</li>
   </ol>

   <p>If you're sure you're ready to start the <b>practice trial</b>, press the NEXT button.</p>
  <div class="instructionsnav">
    <div class="row">
        <div class="col-xs-2">
            <!-- no back button at all -->
        </div>
        <div class="col-xs-8">
        </div>
        <div class="col-xs-2">
            <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
            Begin Practice <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
        </div>
    </div>
  </div>
</div>
<!--end page 3 -->

<div class="inside-instruct" id="instruct-test">
      <h2>Task Instructions</h2>

        <p>Great job practicing. The real experimental trials start now!</p>
        <p>There will be Eight 2-minute experimental trials (~16 minutes). You can take short breaks in between each of the trials,
        but make sure you don't take too long a break so that you can finish in time.</p>
        <h3>Your Task:</h3>
        <p>A word will appear on the screen, and your task is to type other words that are creative, related to that word.</p>
        <p><b>It is very important that you only type SINGLE WORDS</b>, that is, DO NOT type sentences or phrases.</p>
        <p>Each word will appear on the screen for 2 minutes. It is important to try and think of responses the whole time, though we do want
          you to think of creative responses. Just try to keep thinking for the whole 2 minutes.</p>
        <p>Remember to type your ideas <b> as soon as you think of them</b>. Then, press ENTER after EACH response</p>
        <p>When you are read, press <b>START</b> below to begin the first real trial.</p>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
              <!-- no back button at all -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Begin Experiment <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>
    </div>


<!-- this is the holder for the actual response phase-->
<div class="slide" id="trial">
  <!-- prompt box -->
  <div id="entry" class="trial-2">
    <div id="prompt-show" class="phase"></div>
    <!-- response entry field -->
    <div id="resp-entry" class="phase">
        <label for="resp-input">Type Each Response Here:<br>Press ENTER after EACH response</label>
        <input id="resp-input" type="text">
    </div>
  </div>
</div>
