<div class="container-instructions">
  <h1>Instructions</h1>
  <div class="inside-instruct">
    <p>In this experiment, your task will be to read a word printed on the screen and respond by typing aditional words.
      You will do so with your computer keyboard. It is important that you are sitting in your normal typing position
      and that you type as you normally would as if you were taking notes or writing in a Word document.</p>

    <p>Take the opportunity to ready yourself now for typing. You will practice typing before any
      of the real tasks start.</p>

      <p>There will be 9 trials totalwith each trial lasting 2 minutes except the first trial,
        which is a practice trial and will last 30 seconds.
        You will be allowed to take a break between every trial, but remember,
        you have 60 minutes to complete this HIT.
        The tasks themselves will take no more than 18 minutes, including the short questionnaire at the end. </p>

        <p> Here is the flow of the experiment:</p>

    <ol>
      <li>1 practice trial</li>
      <li>8 experiment trials</li>
      <li>1 short demographic questionnaire</li>
    </ol>
 </div>
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>
</div>
