<div class="container-instructions">
  <h2>Please answer the following questions to proceed:</h2>
  <!-- beginning of a question -->
  <div class="row question">
      <div class="col-md-8">
          What is this experiment about?
      </div>
      <div class="col-md-4">
          <select id="About" name="About">
            <option value="" selected>--Make a Selection--</option>
              <option value="A">Creativity</option>
              <option value="B">Marbles</option>
              <option value="C">Jelly beans</option>
          </select>
      </div>
  </div>
  <!-- end of a question -->

  <!-- beginning of a question -->
  <div class="row question">
      <div class="col-md-8">
          How many prompts will there be?
      </div>
      <div class="col-md-4">
          <select id="promptcount" name="promptcount">
            <option value="" selected>--Make a Selection--</option>
            <option value="9">9</option>
            <option value="8">8</option>
            <option value="7">7</option>
            <option value="6">6</option>
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>

          </select>
      </div>
  </div>
  <!-- end of a question -->
 <div class="instructionsnav">
     <div class="row">
         <div class="col-xs-2">
             <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
             <span class="glyphicon glyphicon-arrow-left"></span> Previous
             </button>
         </div>
         <div class="col-xs-8">
         </div>
         <div class="col-xs-2">
             <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
             Begin Practice <span class="glyphicon glyphicon-arrow-right"></span>
             </button>
         </div>
     </div>
 </div>
</div>
